.container{
    display: grid;

    grid-template-columns: 1fr;
    gap: 20px;
}

.card{
    background: royalblue;
}

/* tablet */
@media (min-width: 768px){
    .container{
        grid-template-columns: repeat(2, 1fr);
    }
}

/* laptop */
@media (min-width: 1048px){
    .container{
        grid-template-columns: repeat(3, 1fr);
    }
}