.box{
    border: 1px solid black;
    width: 40%;
    height: 300px;
    text-align: center;

    background-color: black;
    color: white;

    padding: 30px;
    margin: 50px;
    /* margin-top: 60px; */
    /* margin-left: 60px; */
}

button{
    background-color: blue;
    color: white;
    padding: 5px 20px;
}